

<div>
    <div class="icons-link">
        <a href="https://www.facebook.com/TYWDigitalMedia/">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCMmOlMHw6VQMiJ3jW3jfZbg">
            <i class="fa fa-youtube"></i>
        </a>
        <a href="https://plus.google.com/u/0/118285498619076943160">
            <i class="fa fa-google"></i>
        </a>
    </div>
    <p>COPYRIGHT&copy;2018 {{ APP_NAME }}. All rights reserved.</p>
    <a href="/user/signin" style="color: #212329; position: absolute; right: 0; bottom: 0; font-size: 5px;">Sign In</a>
</div>
