# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'

# Local Environments
NODE_ENV=development
PORT=5000
DATABASE=mongodb://localhost/download-shop
SESSION_SECRET=<put session secret phrase here>

# Name of Website or Company
APP_NAME=<put business name here>
APP_URL=<put website url here>

# Set your Stripe's Secret API Key: remember to change this to your live secret key in production
# See your keys here: https://dashboard.stripe.com/account/apikeys
STRIPE_SECRET_KEY=<put Stripe's Secret Test Key here>

# Set Stripe’s API version in your library to avoid potentially breaking changes for your users
# See your version here: https://dashboard.stripe.com/account/apikeys
STRIPE_API_VERSION=2017-08-15

# SendGrid Environments at https://www.sendgrid.com
SENDGRID_API_KEY=<put Secret API Key here>
SENDGRID_TO_EMAIL=<put receiving email here>

# Google's Analytic tracking ID for the Global Site Tag (gtag.js) tracking code
GOOGLE_TRACKING_ID=<put google tracking id here>