<div class="form-container">
    <h1>Change Password</h1>
    <form class="form" action="/user/account/change-password?_method=PUT" method="POST">
        <p>Please enter your email and present password to confirm new password or cancel.</p>
        <fieldset>
            <div label="Email" class="row">
                <input type="email" name="email" placeholder="jane@example.com" maxlength="30" autofocus="autofocus" autocomplete="email"/>
            </div>
            <div label="Present Password" class="row">
                <input type="password" name="password" placeholder="••••••••" maxlength="20"/>
            </div>
            <div label="New Password" class="row">
                <input type="password" name="newPassword" placeholder="••••••••" maxlength="20"/>
            </div>
            <div label="Confirm Password" class="row">
                <input type="password" name="newPasswordConfirmation" placeholder="••••••••" maxlength="20"/>
            </div>
        </fieldset>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit">CONFIRM</button>
        <button type="submit" formaction="/user/profile" formmethod="GET" class="danger-button">CANCEL</button>
    </form>
</div>
