$primary-color: #1abc9c;
$secondary-color: rgb(46, 40, 40);

// Font Stacks

$font-stack-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-secondary: 'Oxygen', 'Arial Rounded MT Bold', 'Segoe UI';